What is the result of the following expression?

In [ ]:
5+3*2

11

What is the output of the following code?

In [ ]:
x=5
y=10
x+=y
print(x)

15

Evaluate the following boolean expression:

In [ ]:
(10>5) and (not(5>10))

True

What is the result of following division?

In [22]:
7/2
print(7%2)

1

What will be the value and type of 'x' after the following operation?

In [23]:
x=4//2
print(x)

2

In [24]:
type(x)

int

What is the output of following code

In [ ]:
a=[1,2,3]
b=a
b[0]=4
print(a)

[4, 2, 3]

What does the following slice operation return?

In [ ]:
s='hello'
print(s[1:4])

ell

What will be the value of 'result'?

In [28]:
result=2**3**2

print(result)

512

Given the list a=[1,2,3,4,5] , what will be the result of a[ : :-1]?

In [29]:
a=[1,2,3,4,5]
a[: :-1]

[5, 4, 3, 2, 1]

In [30]:
a[:-1]

[1, 2, 3, 4]

Evaluate the following expression:

In [31]:
10%3
a=10%3
print(a)

1

What is the result of the following code ?

In [ ]:
x=[1,2,3]
y=[1,2,3]
print(x==y)
print(x is y)

True
False

what is the output of the following code ?

In [ ]:
x="Python"
y=x*3
print(y)

PythonPythonPython

What is th type and value of 'x' after the following operation?

In [32]:
x=True+1
print(x)

2

What will be the output of the following comparison?

In [ ]:
print('abc'<'abd')

True

What is the result of the following code?

In [ ]:
d={'a':1,'b':2}
d['c']=3
print(d)

{'a': 1, 'b': 2, 'c': 3}

What will be the value of 'a' after the following operation?

In [33]:
a="123"
a+="456"
print(a)

123456

What is the output of the following code?

In [ ]:
a=[1,2,3]
b=a[:]
b.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

Evaluate the following expression:

In [34]:
a=3*(2+4)**2
print(a)

108

What will be the result of the following comparison?

In [ ]:
print(5==5.0)

True

What is the output of the following code?

In [ ]:
x=(1,2,3)
y=x+(4,)
print(y)

(1, 2, 3, 4)