# Write a program which accepts month's name as input and display the number of days in the month as output

In [ ]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")

if month_name == "February":
    print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")
else:
    print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: April
No. of days: 30 days

Take any word as input from the user and count the number of vowels in the word

In [ ]:
word=input("Enter a word : ")

vowels="aeiouAEIOU"

vowel_count=sum(1 for char in word if char in vowels)


print(f"The number of vowels in '{word}' is: {vowel_count}")

Enter a word : ramya
The number of vowels in 'ramya' is: 2

In [ ]:
word= input("Enter a word: ")

vowels="aeiouAEIOU"

count=0

for char in word:
  if char in vowels:
    count += 1

print(f"The number of vowels in '{word}' is: {count}")

Enter a word: raghav
The number of vowels in 'raghav' is: 2

Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [ ]:
my_list=[1,2,3,4,5,7,8,9,10]
even_numbers=[ num for num in my_list if num %2==0]
odd_numbers=[num for num in my_list if num%2!=0]

print("Even num:",even_numbers)
print("Odd num:",odd_numbers)

Even num: [2, 4, 8, 10]
Odd num: [1, 3, 5, 7, 9]

Write a program that appends datatype of elements from a list to a separate list

In [ ]:
elements=[42,"hello",3.14,True,False,[1,2,3],{"key":"value"}]
data_types= []

for item in elements:
  data_types.append(type(item).__name__)

  print("original list:",elements)
  print("datatypes:",data_types)

original list: [42, 'hello', 3.14, True, False, [1, 2, 3], {'key': 'value'}]
datatypes: ['int']
original list: [42, 'hello', 3.14, True, False, [1, 2, 3], {'key': 'value'}]
datatypes: ['int', 'str']
original list: [42, 'hello', 3.14, True, False, [1, 2, 3], {'key': 'value'}]
datatypes: ['int', 'str', 'float']
original list: [42, 'hello', 3.14, True, False, [1, 2, 3], {'key': 'value'}]
datatypes: ['int', 'str', 'float', 'bool']
original list: [42, 'hello', 3.14, True, False, [1, 2, 3], {'key': 'value'}]
datatypes: ['int', 'str', 'float', 'bool', 'bool']
original list: [42, 'hello', 3.14, True, False, [1, 2, 3], {'key': 'value'}]
datatypes: ['int', 'str', 'float', 'bool', 'bool', 'list']
original list: [42, 'hello', 3.14, True, False, [1, 2, 3], {'key': 'value'}]
datatypes: ['int', 'str', 'float', 'bool', 'bool', 'list', 'dict']

### Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [24]:
numbers=[49,70,140,210,350,630,700,77,98]

for num in numbers:
  if num > 630:
    break

  if num == 140:
    continue

  if num % 7 == 0:
      print(num)

49
70
210
350
630